# VARIABLES DE ENTORNO  
APP_HOST = xxx.xxx.xxx.xxx
APP_PORT = XX

# Base de Datos  
DB_HOST=xxx.xxx.xxx.xxx
DB_DATABASE=DB_Name
DB_USER=DB_User
DB_PASSWORD=DB_Password


# COMANDOS DE LOS DISPOSITIVOS
# UPS Conexión SSH
UPS_USERNAME=apc
UPS_PASSWORD=password
UPS_COMMAND=whoami # Solo para confirmar la conexión

# ILO Conexión SSH
ILO_USERNAME=administrator
ILO_PASSWORD=password
ILO_COMMAND=help # Solo para confirmar la conexión

# Biometrico Conexión TCP/IP
BIOMETRICO_USERNAME=admin
BIOMETRICO_PASSWORD=admin
BIOMETRICO_PUERTO=4370